<a href="https://colab.research.google.com/github/Sulthana-2000/Python_Tasks/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to sum all the items in a list.

In [ ]:
list=[1,2,3,4,5]
print(sum(list))

15

2.Write a Python program to get the largest number from a list.

In [ ]:
list=[12,23,43,20,45]
print(max(list))

45

3.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
list=['lol','odo','hello','tree','eye']
r1=len(list)
print('The number of strings in the list are: ',r1)

print('The required strings are: ')
[i for i in list if (len(i) >= 2 and i[-1] == i[0])]

The number of strings in the list are:  5
The required strings are:

['lol', 'odo', 'eye']

4.Write a Python program to remove duplicates from a list.

In [ ]:
list=[1,1,2,2,3,4,5,6,6]
new_list=(set(list))
print(new_list)

{1, 2, 3, 4, 5, 6}

5.Write a Python program to check if a list is empty or not.

In [ ]:
list=[]
if len(list)==0:
  print('the list is empty')
else:
  print('the list is not empty')

the list is empty

6.Write a Python program to filter the list if the length of the character is < 4

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result: ['abc', 'xyz', 'aba']

In [ ]:
list=['eye','bat','car','shoes','towel']
filtered=[]
for i in list:
  if len(i)<4:
    filtered.append(i)
print(filtered)

['eye', 'bat', 'car']

7.Write a Python program to find the second largest number in a list.

In [ ]:
x=[1,2,3,4,-1,-2]
y=x.sort()
print(x[-2])

3

8.Write a Python program to reverse a list at a specific location.

In [ ]:
list=[1,2,3,4,5,6]
list1=list[:2]
list2=list[2:]
list2.sort(reverse=True)
result=list1+list2
print(result)

[1, 2, 6, 5, 4, 3]

9.Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
a=input('enter the string:')
b=a[::-1]
if b==a:
    print('palindrome')
else:
    print('not palindrome')

enter the string:malayalam
palindrome

10.Write a Python a program to find the union and intersection of two lists.

In [ ]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]

set1=set(list1)
set2=set(list2)

union_list=set1.union(set2)
print(union_list)

intersection_list=set1.intersection(set2)
print(intersection_list)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
my_dict={'apple':5,'banana':2,'cherry':8,'strawberry':3}

ascending=dict(sorted(my_dict.items(),key=lambda item:item[1]))
print("ascending:", ascending_sorted_dict)

descending=dict(sorted(my_dict.items(),key=lambda item:item[1],reverse=True))
print("descending:", descending_sorted_dict)

ascending: {'banana': 2, 'grape': 3, 'apple': 5, 'orange': 8}
descending: {'orange': 8, 'apple': 5, 'grape': 3, 'banana': 2}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
my_dict={'apple':5,'banana':2,'orange':8,'grape':3}

key='orange'

print(f"The key' {key}' {'exists' if key in my_dict else 'does not exist'} in the dictionary.")

The key'orange' exists in the dictionary.

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
my_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 3}

total= sum(my_dict.values())

print(total)

18

 14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

Eg:

Input : 3

Output : {1:1, 2:4, 3:9}

In [ ]:
number=int(input("Enter a number:"))

if number<10:
    square= {i: i ** 2 for i in range(1,number + 1)}
    print(square)
else:
    print("number must be less than 10.")

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}


15.Write a Python program to sort a given dictionary by key

In [ ]:
my_dict = {'clock':4,'ball':7,'door':3,'axe':5}

sort= dict(sorted(my_dict.items()))

print(sort)

{'axe': 5, 'ball': 7, 'clock': 4, 'door': 3}

16.Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'learnpython'

Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [ ]:
input_string = input("Enter a string: ")

count= {}

for i in input_string:
    if i.isalpha():
        i_lower = i.lower()
        count[i_lower] =count.get(i_lower, 0) + 1

print(count)

Enter a string: fathima
{'f': 1, 'a': 2, 't': 1, 'h': 1, 'i': 1, 'm': 1}

17.Write a Python program to get the top three items in a shop.

Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3

In [ ]:
fruits={'apple':10,'banana':24,'cherry':70,'strawberry':67,'raspberry':43}

sortfruits=sorted(fruits.items(),key=lambda x:x[1],reverse=True)

for i in range(3):
  print(sortfruits[i])

('cherry', 70)
('strawberry', 67)
('raspberry', 43)